.Tilt {
  height: 240px;
  width: 240px;
  background-color: rgba(255,0,0,0.14);
  transform-style: preserve-3d;
  transition: box-shadow 200ms linear;
  box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
}
.Tilt:hover {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
